<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - Arsha Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="templates/assets/img/favicon.png" rel="icon">
  <link href="templates/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="templates/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="templates/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="templates/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="templates/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="templates/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="templates/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="tempplates/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="home.html">ElandeFemme</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">Qui nous somme </a></li>
          <li><a class="nav-link scrollto" href="#services">Programmes </a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Partenariat</a></li>
        <!--  <li><a class="nav-link scrollto" href="#team">Team</a></li> mettre team dans contact-->
          <li><a class="nav-link scrollto" href="#team">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">COMMENCER</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->





<!-- ======= Services Section ======= --->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title"><br><br><br><br>

          <h2>Bienvenue à ElandeFemme ! </h2>
          <p>ElandeFemme est bien plus qu'un programme de subvention. C'est une initiative dédiée à l'autonomisation des femmes entrepreneures. Notre objectif est de briser les barrières financières et de catalyser la croissance des entreprises dirigées par des femmes.</p>
        </div>
        <center>   
        <h1> Ce que nous offrons</h1> <br><br>
        </center>

        

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class=" icon"></i></div>
              <h4><a href="">SUBVENTION FLEXIBLE</a></h4>
              <p>Un soutien financier adapté à vos besoins spécifiques.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class=""></i></div>
              <h4><a href="">MENTORAT PERSONNALISÉ</a></h4>
              <p>Accès à des mentors expérimentés pour guider votre parcours.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class=""></i></div>
              <h4><a href="">RÉSEAUTAGE </a></h4>
              <p>Opportunités de connexion avec d'autres entrepreneures et experts du secteur.</p>
            </div>
          </div>

        </div>

        </div>
      </div>
    </section>

 <section id="service-details" class="service-details">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h1>Critère d'éligibilité</h1> <br><br>
              <div class="crit">
                <p> Si vous êtes une femme entrepreneure fondatrice ou cofondatrice d'une entreprise basée légalement en Côte d'Ivoire, dotée d'un plan d'affaires solide et prête à participer activement à nos programmes de formation et de mentorat, vous êtes éligible à notre programme de subvention. Rejoignez-nous dans cette aventure d'autonomisation économique.
</p>
              </div>



              <div class="candidat">




                
              </div>
            </div><!-- End Services List -->


          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/crit.jpg" alt="" class="img-fluid services-img"> <br><br><br>
            <h3>PROCESSUS DE CANDIDATURE</h3>
            <p>
              Les candidates soumettent une demande en ligne détaillant leur entreprise,leurs besoins et leur plan d'utilisation des fonds.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>- Un comité de sélection impartial évalue les demandes en fonction des critères 
d'éligibilité et des spécificités du contexte ivoirien.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>- Les candidates présélectionnées sont invitées à une entrevue pour discuter de 
leurs projets et de leurs besoins.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>- Les bénéficiaires finales sont sélectionnées, et les subventions sont attribuées.</span></li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- End Service-details Section -->


    <!-- enregistrement -->
<section  class="enregistre" id="enre">
  
<div class="container">
    <h2>Formulaire de candidature</h2>
    <h3>Si vous êtes une femme entrepreneure fondatrice ou cofondatrice d'une entreprise basée légalement en Côte d'Ivoire, dotée d'un plan d'affaires solide et prête à participer activement à nos programmes de formation et de mentorat, vous êtes éligible à notre programme de subvention. Rejoignez-nous dans cette aventure d'autonomisation économique.</h3>
    <form action="#" method="post">
      <label for="nom">Nom complet :</label>
      <input type="text" id="nom" name="nom" required>

      <label for="entreprise">Nom de l'entreprise :</label>
      <input type="text" id="entreprise" name="entreprise" required>

      <label for="email">Adresse e-mail :</label>
      <input type="email" id="email" name="email" required>

      <label for="tel">Numéro de téléphone :</label>
      <input type="tel" id="tel" name="tel" required>

      <label for="plan">Plan d'affaires :</label>
      <textarea id="plan" name="plan" required></textarea>

      <label for="programmes">Programmes de formation et de mentorat :</label>
      <input type="text" id="programmes" name="programmes" required>

      <button type="submit">POSTULER</button>
    </form>
  </div>

</section>







 

 
 
 <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/logo.png" class="img-fluid" alt="">
             <center>
          </div>
            <p>
              Abidjan riviera <br>
              cote d'ivoire<br>
              United States <br><br>
              <strong>Phone:</strong> 00022521458558<br>
              <strong>Email:</strong> info@elandefemme.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>liens Important</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#"> Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Suivez-nous sur les réseaux</h4>
            
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
     </center>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ElandeFemme</span></strong>. 
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">ElandeFemme</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="templates/assets/vendor/aos/aos.js"></script>
  <script src="templates/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="templates/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="templates/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="templates/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="templates/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="templates/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="templates/assets/js/main.js"></script>


</body>

</html>